*{
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.grid-container {
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(9, 1fr);
  background-color: aliceblue;
}

.header-container {
  grid-area: 2/4/3/10;
  align-content: start;
  text-align: center;
}

.header {
  font-size: 2.5rem;
}

.generator-container {
  grid-area: 3/3/8/11;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

.quote-container {
  grid-area: 2/3/8/9;
  align-content: center;
  text-align: center;
  background-color: lightblue;
  border-radius: 0.5rem;
}

.header, .quote-container {
  color: darkblue
}

#generator-btn {
  grid-area: 9/4/10/8;
  background-color: darkblue;
  color: white;
  border-radius: 0.5rem;
  border: none;
  font-size: 1rem;
}

#generator-btn:hover {
  cursor: pointer;
}

#quote, #reference-container {
  width: 80%;
  margin: 0 auto;
}

#quote {
  font-size: 1.5rem;
}

#reference-container {
  justify-content: end;
  font-size: 0.9rem;
  font-style: italic;
  margin-top: 0.5rem;
  display: none;
}

@media screen and (max-width: 900px) {
  html {
      font-size: 14px;
  }

  .header-container {
      grid-area: 2/2/3/12;
  }

  .generator-container {
      grid-area: 3/2/8/12;
  }  

  .quote-container {
      grid-area: 2/2/8/10;
  }
}

@media screen and (max-width: 480px) {
  html {
      font-size: 12px;
  }

  .grid-container {
      grid-template-columns: 33% 33% 33%;
      grid-template-rows: repeat(6, 1fr);
  }

  .header-container {
      grid-area: 2/1/2/4;
      align-content: start;
  }

  .generator-container {
      grid-area: 3/1/7/4;
  }  

  .quote-container {
      grid-area: 1/1/8/11;
      width: 95%;
      margin: 0 auto;
  }
}